version: '3'

services:

  db:
    build:
      context: .
      dockerfile: Dockerfile.postgres
    ports:
      - 8889:5432
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
